api/schema/schoolmanagement/managementrequest.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="schoolManagementRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="create" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="school"/>
                            <xs:element name="code" type="code" minOccurs="0/>
                            <xs:choice>
                                <xs:element name="faculty" type="faculty" minOccurs="0"/>
                                <xs:element name="facultyextid" type="externalid" minOccurs="0"/>
                            </xs:choice>
                            <xs:group ref="external" minOccurs="0"/>
                            <xs:attribute type="xs:string" name="id" use="required"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="update" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice>
                                <xs:element name="id" type="xs:integer"/>
                                <xs:element name="externalid" type="externalid"/>
                            </xs:choice>
                            <xs:element name="id" type="xs:integer"/>
                            <xs:element name="name" type="school" minOccurs="0"/>
                            <xs:element name="code" type="code" minOccurs="0/>
                            <xs:choice>
                                <xs:element name="faculty" type="faculty" minOccurs="0"/>
                                <xs:element name="facultyextid" type="externalid" minOccurs="0"/>
                            </xs:choice>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="delete" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice>
                                <xs:element name="id" type="xs:integer"/>
                                <xs:element name="externalid" type="externalid"/>
                            </xs:choice>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="external">
        <xs:sequence>
            <xs:element name="externalid" type="externalid"/>
            <xs:element name="externalsys" type="externalsys"/>
        </xs:sequence>
    </xs:group>
    <xs:simpleType name="school">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="faculty">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
        </xs:restriction>
    </xs:simpleType>
        <xs:simpleType name="externalid">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="externalsys">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>