api/schema/usermanagement/managementrequest.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="userManagementRequest">			  
        <xs:complexType>
            <xs:sequence>
                <xs:element name="create" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="username" type="username"/>
                            <xs:element name="surname" type="surname"/>
                            <xs:element name="role" type="role"/>
                            <xs:element name="title" type="title" minOccurs="0"/>
                            <xs:element name="forename" type="forename" minOccurs="0"/>
                            <xs:element name="initials" type="initials" minOccurs="0"/>
                            <xs:element name="email" type="email" minOccurs="0"/>
                            <xs:element name="password" type="password" minOccurs="0"/>
                            <xs:element name="course" type="course" minOccurs="0"/>
                            <xs:element name="gender" type="gender" minOccurs="0"/>
                            <xs:element name="year" type="year" minOccurs="0"/>
                            <xs:element name="studentid" type="studentid" minOccurs="0"/>
                            <xs:element name="modules" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="moduleid" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:integer">
                                                        <xs:attribute type="xs:string" name="id" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="update" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="id" type="xs:integer"/>
                            <xs:element name="username" type="username" minOccurs="0"/>
                            <xs:element name="surname" type="surname" minOccurs="0"/>
                            <xs:element name="role" type="role" minOccurs="0"/>
                            <xs:element name="title" type="title" minOccurs="0"/>
                            <xs:element name="forename" type="forename" minOccurs="0"/>
                            <xs:element name="initials" type="initials" minOccurs="0"/>
                            <xs:element name="email" type="email" minOccurs="0"/>
                            <xs:element name="password" type="password" minOccurs="0"/>
                            <xs:element name="course" type="course" minOccurs="0"/>
                            <xs:element name="gender" type="gender" minOccurs="0"/>
                            <xs:element name="year" type="year" minOccurs="0"/>
                            <xs:element name="studentid" type="studentid" minOccurs="0"/>
                            <xs:element name="modules" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="moduleid" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:integer">
                                                        <xs:attribute type="xs:string" name="id" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="delete" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="id" type="xs:integer"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="title">
        <xs:restriction base="xs:string">
            <xs:pattern value="Mx|Mr|Mrs|Miss|Ms|Dr|Professor"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="forename">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="surname">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="initials">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="65"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="password">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="90"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="course">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="gender">
        <xs:restriction base="xs:string">
            <xs:pattern value="Male|Female|Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="year">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="6"/>
            </xs:restriction>
        </xs:simpleType>
    <xs:simpleType name="role">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Student"/>
            <xs:enumeration value="Left"/>
            <xs:enumeration value="Graduate"/>
            <xs:enumeration value="Staff"/>
            <xs:enumeration value="Inactive Staff"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="studentid">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="username">
        <xs:restriction base="xs:string">
        <xs:minLength value="1"/>
        <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>